h1 Todo List \o/

form(role="form", ng-submit="addTask()")
  .input-group
    input.form-control(type="text", ng-model="newTask.title", autofocus)
    span.input-group-btn
      button.btn.btn-default(type="submit") Add

div(ng-repeat="task in tasks")
  form(ng-hide="task.editing")
    .input-group
      span.input-group-addon {{ task.random }}
      input.form-control(ng-model="task._cache.title", ng-dblclick="editingTask(task)", readonly)
      span.input-group-btn
        button.btn.btn-default(ng-click="editingTask(task)") Edit
        button.btn.btn-default(ng-click="removeTask(task)") Remove
  form(ng-submit="editTask(task)", ng-show="task.editing")
    .input-group
      span.input-group-addon {{ task.random }}
      input.form-control(ng-model="task.title")
      span.input-group-btn
        .btn.btn-default(ng-click="cancelEditing(task)") Cancel
        .btn.btn-default(ng-click="removeTask(task)") Remove
